@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

.mzmodal {
  font-family: 'Lato', 'Open Sans', 'Verdana';
  backface-visibility: none;
  -webkit-backface-visibility: none;
  background: #111;
  color: #fff;
  border-radius: 4px;
}

.mzflip {

  -webkit-animation: flip 0.5s ease;
  -o-animation: flip 0.5s ease;
  animation: flip 0.5s ease;

}

.mztop-slide {

  -webkit-animation: topslide 0.5s ease;
  -o-animation: topslide 0.5s ease;
  animation: topslide 0.5s ease;

}


.mzleft-slide {

  -webkit-animation: leftslide 0.5s ease;
  -o-animation: leftslide 0.5s ease;
  animation: leftslide 0.5s ease;

}

.mzright-slide {

  -webkit-animation: rightslide 0.5s ease;
  -o-animation: rightslide 0.5s ease;
  animation: rightslide 0.5s ease;

}

.mzbottom-slide {

  -webkit-animation: bottomslide 0.5s ease;
  -o-animation: bottomslide 0.5s ease;
  animation: bottomslide 0.5s ease;

}

body.modal-open {
  overflow: hidden;
}

.mzmodal-inner {
  font-weight: 300;
}

.mzmodal h2 {
  border-radius: 4px 4px 0 0 ;
  text-align: center;
  margin:0;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #333;
  border-bottom: 5px solid yellow;

}

.mzmodal a {
  text-decoration: none;
  color: #f0f0f0;
}
.mzmodal a:hover {
  color: #c0c0c0;
}

.mzmodal-exit {

}

.mzmodal-body {

}

.mzmodal-backdrop-box {
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  perspective: 700px;
  animation: background ease 0.4s;
  -webkit-animation: background ease 0.4s;
  background: rgba(0,0,0,0.7);
}

@-webkit-keyframes background {
  0% {
    background: rgba(0,0,0,0.0);
  }
  100% {
    background: rgba(0,0,0,0.7);
  }
}

@-webkit-keyframes flip {
  0% {
    transform:  rotateY(-90deg) rotateX(10deg) scaleX(1) scaleY(1) ;
  }
  100% {
    transform:  rotateY(0deg) rotateX(0deg)  scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes topslide {
  0% {
    top: -5%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: 15%;
  }
}

@-webkit-keyframes bottomslide {
  0% {
    top: 105%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: 15%;
  }
}

@-webkit-keyframes leftslide {
  0% {
    left: -5%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 25%;
  }
}

@-webkit-keyframes rightslide {
  0% {
    left: 105%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 25%;
  }
}

@keyframes background {
  0% {
    background: rgba(0,0,0,0.0);
  }
  100% {
    background: rgba(0,0,0,0.7);
  }
}

@keyframes flip {
  0% {
    transform:  rotateY(-90deg) rotateX(10deg) scaleX(1) scaleY(1) ;
  }
  100% {
    transform:  rotateY(0deg) rotateX(0deg)  scaleX(1) scaleY(1) ;
  }
}

@keyframes topslide {
  0% {
    top: -5%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: 15%;
  }
}

@keyframes bottomslide {
  0% {
    top: 105%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: 15%;
  }
}

@keyframes leftslide {
  0% {
    left: -5%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 25%;
  }
}

@-webkit-keyframes rightslide {
  0% {
    left: 105%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 25%;
  }
}
